/dts-v1/;
/ {
	compatible = "suse,risky-v";
	model = "RISKY-V Emulator";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			status = "okay";
			reg = <0>;
			device_type = "cpu";
			compatible = "riscv";
			riscv,isa = "rv32ima_zicsr_zifencei";
			riscv,isa-base = "rv32i";
			riscv,isa-extensions = "i", "m", "a", "zicsr", "zifencei";

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;
	};

	memory@0 {
		device_type = "memory";
		reg = <0 0x1000000>;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;

		bootargs = "verbose debug loglevel=9 earlycon=smh console=tty";

		framebuffer0: framebuffer@1000 {
			status = "okay";
			compatible = "simple-framebuffer";
			reg = <0xA00000 0x5A0000>;
			width = <1280>;
			height = <720>;
			stride = <2048>;
			format = "a8r8g8b8";
		};
	};
};
