/dts-v1/;
/ {
	compatible = "suse,risky-v";
	model = "RISKY-V Emulator";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		/* 128 ticks per frame * 60 fps = 7680 ticks per second */
		timebase-frequency = <7680>;

		cpu@0 {
			reg = <0>;
			device_type = "cpu";
			compatible = "riscv";
			riscv,isa = "rv32ima_zicsr_zifencei";
			riscv,isa-base = "rv32i";
			riscv,isa-extensions = "i", "m", "a", "zicsr", "zifencei";

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;

		timer@f0000000 {
			compatible = "sifive,clint0";
			interrupts-extended = <&cpu0_intc 3>, <&cpu0_intc 7>;
			reg = <0xF0000000 0x10000>;
		};

		/* DTB is at 0x1000. Use 0x3000 to align with the memory texture. */
		framebuffer0: framebuffer@3000 {
			compatible = "simple-framebuffer";
			reg = <0x3000 0x12C000>;
			width = <640>;
			height = <480>;
			stride = <8192>;
			format = "x8r8g8b8";
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0 0xFFF000>;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;

		bootargs = "debug loglevel=9 earlycon=smh console=tty keep_bootcon";
	};
};
